<div class="container">
<h1>My articles</h1>

<ol>
  <% @articles.each do |article| %>
  <li>
  <%= link_to article.title, article_path(article) %> <%= link_to article_path(article), method: :delete, data: { confirm: "Are you sure you want to delete #{article.title}? "} do %>
    <i class="fas fa-trash"></i>
  <% end %>
  </li>
  <p><%= article.content %></p>
  <% end  %>
</ol>

<%= link_to "add new article", new_article_path, class:"btn btn-primary" %>
</div>